$(document).ready(function(){
  $("select#bookmark_category_id").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "") { 
        $("select#bookmark_subcategory_id option").remove();
        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
        $(row).appendTo("select#bookmark_subcategory_id");
    }else{
        $.ajax({
            dataType: "json",
            url:"update_subcategories/"+id_value_string,        
            error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed to submit : "+ erorTextStatus+" ;"+error);
            },
            success: function(data){                    
                $("select#bookmark_subcategory_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#bookmark_subcategory_id"); 
                $.each(data, function(i, j){
                    row = "<option value=\"" + j.id + "\">" + j.title + "</option>";   
                    $(row).appendTo("select#bookmark_subcategory_id");                     
                });             
            }
        })
    };
  });
$(".category").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "" && $('.Users').val() =="" ){
       $.ajax({
         dataType: "json",
            url:"All/",        
            error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed to submit : "+ erorTextStatus+" ;"+error);
            },
            success: function(data){
                $("tbody#display").remove();
                var tbody = document.createElement("tbody");
                tbody.id = "display";
                document.getElementById("myTable").appendChild(tbody);
                for (var i = 0; i < data.length; i+=6) {
                    row = "<tr><td>" + data[i]+ "</td> <td>" + data[i+1] + "</td> <td>" + data[i+2] + "</td> <td>" + data[i+3] + "</td> <td>" + data[i+4] + "</td> <td>" + data[i+5] + "</td><tr>"  ;
                    $(row).appendTo("tbody#display");                     
                };
            }
       })   
    }
});
$(".subcategory").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "" && $('.Users').val() =="" ){
       $.ajax({
         dataType: "json",
            url:"All/",        
            error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed to submit : "+ erorTextStatus+" ;"+error);
            },
            success: function(data){
                $("tbody#display").remove();
                var tbody = document.createElement("tbody");
                tbody.id = "display";
                document.getElementById("myTable").appendChild(tbody);
                for (var i = 0; i < data.length; i+=6) {
                    row = "<tr><td>" + data[i]+ "</td> <td>" + data[i+1] + "</td> <td>" + data[i+2] + "</td> <td>" + data[i+3] + "</td> <td>" + data[i+4] + "</td> <td>" + data[i+5] + "</td><tr>"  ;
                    $(row).appendTo("tbody#display");                     
                };
            }
       })
    }else if ($('.Users').val() ==""){
        $.ajax({
            dataType: "json",
            url:"update_bookmarks/"+id_value_string,        
            error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed to submit : "+ erorTextStatus+" ;"+error);
            },
            success: function(data){
                $("tbody#display").remove();
                var tbody = document.createElement("tbody");
                tbody.id = "display";
                tbody.class = "table table-striped table-bordered table-condensed";
                document.getElementById("myTable").appendChild(tbody);
                for (var i = 0; i < data.length; i+=6) {
                    row = "<tr><td>" + data[i]+ "</td> <td>" + data[i+1] + "</td> <td>" + data[i+2] + "</td> <td>" + data[i+3] + "</td> <td>" + data[i+4] + "</td> <td>" + data[i+5] + "</td><tr>"  ;
                    $(row).appendTo("tbody#display");                     
                };
            }
        });
    }
        
  });
$(".Users").change(function(){
    var id_value_string = $(this).val();
    alert(id_value_string);
    if (id_value_string == "") { 
        $("select#bookmark_subcategory_id option").remove();
        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
        $(row).appendTo("select#bookmark_subcategory_id");
    }else {
        $.ajax({
            dataType: "json",
            url:"update_bookmarkkkks/"+id_value_string,        
            error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed to submit : "+ erorTextStatus+" ;"+error);
            },
            success: function(data){ 
                $("tbody#display").remove();
                var tbody = document.createElement("tbody");
                tbody.id = "display";
                tbody.class = "table table-striped table-bordered table-condensed";
                document.getElementById("myTable").appendChild(tbody);          
                for (var i = 0; i < data.length; i+=6) {
                    row = "<tr><td>" + data[i]+ "</td> <td>" + data[i+1] + "</td> <td>" + data[i+2] + "</td> <td>" + data[i+3] + "</td> <td>" + data[i+4] + "</td> <td>" + data[i+5] + "</td><tr>"  ;
                    $(row).appendTo("tbody#display");                     
                };             
            }
        })
    };
  });
});
  