// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notification {
	float: right;
}

#follow {
	float: right;
}

#split {
	width: 50px;
	float: right;
}